.git
.gitignore
**/.DS_Store
**/.env
**/.env.local
**/.env.development
**/.env.production
**/.env.test
**/.env.*.local
**/node_modules
**/.next
**/.turbo
**/target
**/coverage
**/.nyc_output
**/*.log
**/.cache
docs/archive
tmp
temp
